.chatContent {
  overflow-y: auto;
  padding: 20px;
}

.chatBubble {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.senderBubble {
  justify-content: flex-end;
}

.receiverbubble {
  justify-content: flex-start;
}

.senderAvatar {
  order:2;
  margin-left: 10px
}

.receiverAvatar {
  order:0;
  margin-right: 10px
}

.chatText {
  word-wrap: break-word;
}
