body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 20px auto 0 auto;
  padding: 0px 10%;
}

.nav-container {
  margin: auto;
}

.nav-container svg {
  color: #fff;
}

.login__bottomText {
  font-size: 16px;
  display: block;
  margin-top: 15px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #486b00;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #486b00;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.google_btn {
  width: 100%;
  height: 40px;
  background-color: #b43a1c;
  color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.chatModal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatHeader {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: #486b00;
  color: white;
  padding: 35px 15px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatHeader__leftData {
  display: flex;
  align-items: center;
}

.chatHeader__username {
  margin-left: 10px;
  cursor: pointer;
}

.chatContent {
  background-color: #e3e3e3;
  height: 100%;
}

.chatFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.chatFooter input {
  flex: 4;
  line-height: 30px;
  font-size: 18px;
  border: none;
  outline: none;
}

.notifications__textContainer {
  max-width: 90%;
  word-wrap: break-word;
}

.notifications_menuItem {
  word-wrap: break-word;
  
}